<div class="flex flex-col flex-auto min-w-0" *transloco="let t">
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent"
    >
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">{{
                        t("Inscripcion-Header")
                    }}</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">{{
                        t("Company-Home-Title")
                    }}</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2
                    class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate"
                >
                    {{ t("Inscripcion-Header") }}
                </h2>
            </div>
        </div>
    </div>
    <div class="flex-auto p-6 sm:p-10">
        <fuse-card class="flex flex-col max-w-280 w-full mt-8" #expandableCard02="fuseCard">
            <form class="p-4 bg-card shadow rounded overflow-hidden" [formGroup]="verticalStepperForm" (ngSubmit)="submitFormInscripcion()" novalidate>
                <mat-vertical-stepper [linear]="true" #verticalStepper>
                    <mat-step [formGroupName]="'step1'" [stepControl]="verticalStepperForm.get('step1')" #verticalStepperStep1>
                        <hr class="w-full border-t my-6" />
                        <ng-template matStepLabel>{{t('Register-Information-Data')}}</ng-template>
                        <div class="flex">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-select [formControlName]="'countryId'" [placeholder]="t('Bank-Country')"
                                    (selectionChange)="onCountrySelected($event.value)">
                                    <mat-option value="country-1">{{t('Msg-None')}}</mat-option>
                                    <mat-option *ngFor="let pCountry of selectCountries"
                                        [value]="pCountry">{{pCountry.nombrePais}}</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix
                                    [svgIcon]="'heroicons_solid:globe-alt'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-select [formControlName]="'departamento'" [placeholder]="t('Location-State')" required>
                                    <mat-option value="country-1">{{t('Msg-None')}}</mat-option>
                                    <mat-option *ngFor="let pStates of selectState" [value]="pStates">{{pStates.nombreDepartamento}}</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:globe-alt'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-select [formControlName]="'ciudad'" [placeholder]="t('Location-City')" required>
                                    <mat-option value="country-1">{{t('Msg-None')}}</mat-option>
                                    <mat-option *ngFor="let pStates of selectCity" [value]="pStates">{{pStates.nombreCiudad}}</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:globe-alt'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto gt-xs:pr-3">
                                <mat-select [formControlName]="'zona'" [placeholder]="t('Location-Region')" required>
                                    <mat-option value="country-1">{{t('Msg-None')}}</mat-option>
                                    <mat-option *ngFor="let pStates of selectRegion" [value]="pStates">{{pStates.nombreRegion}}</mat-option>
                                </mat-select>
                                <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:globe-alt'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex">
                            <mat-form-field class="flex-auto">
                                <input
                                    matInput
                                    [formControlName]="'email'"
                                    [placeholder]="'Email Address'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:envelope'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex justify-end">
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="verticalStepperStep1.stepControl.pristine || verticalStepperStep1.stepControl.invalid"
                                type="button"
                                matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>
                     <mat-step [formGroupName]="'step2'" [stepControl]="verticalStepperForm.get('step2')" #verticalStepperStep2>
                         <hr class="w-full border-t my-6" />
                        <ng-template matStepLabel>{{t('Register-Information-Prescription')}}</ng-template>>
                        
                         <div class="flex justify-end">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="verticalStepperStep2.stepControl.pristine || verticalStepperStep2.stepControl.invalid"
                                type="button"
                                matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>
                     <mat-step [formGroupName]="'step3'" [stepControl]="verticalStepperForm.get('step3')" #verticalStepperStep3>
                        <hr class="w-full border-t my-6" />
                        <ng-template matStepLabel>{{t('Register-Reporting-Information')}}</ng-template>
                         <div class="flex justify-end">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="verticalStepperStep2.stepControl.pristine || verticalStepperStep2.stepControl.invalid"
                                type="button"
                                matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>
                     <mat-step [formGroupName]="'step4'" [stepControl]="verticalStepperForm.get('step4')" #verticalStepperStep4>
                         <hr class="w-full border-t my-6" />
                        <ng-template matStepLabel>{{t('Register-Observations')}}</ng-template>
                         <div class="flex justify-end mt-8">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="reset"
                                (click)="verticalStepper.reset();">
                                Reset
                            </button>
                        </div>
                    </mat-step>
                </mat-vertical-stepper>
            </form>
        </fuse-card>
    </div>
</div>
