<div class="flex flex-col flex-auto min-w-0" *transloco="let t">

    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">{{t("Seguimiento-Header")}}</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">{{t("Seguimiento-Pronta-Aplicacion")}}</a>
                </div>
            </div>
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    {{t("Seguimiento-Pronta-Aplicacion")}}
                </h2>
            </div>
        </div>
    </div>

    <!-- Main -->

    <div class="bg-white p-6 rounded-md shadow-md">
        <div class="flex items-center mb-2">
            <!-- Icono de búsqueda -->
            <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:sparkles'"></mat-icon>
            <!-- Título "Buscar" -->
            <h2 class="text-sm font-semibold text-gray-700">{{t("Search-Header")}}</h2>
        </div>
        <!-- Input de búsqueda -->
    <!-- Input de búsqueda -->
    <mat-form-field class="min-w-full" [subscriptSizing]="'dynamic'">
        <input [autocomplete]="'off'" [formControlName]="'keywords'" matInput>
    </mat-form-field>
    <!-- Actions -->
    <div class="flex items-center justify-end w-full mt-8">
        <button class="ml-2" (click)="search()" [color]="'primary'" type="button" mat-flat-button>{{t("Search-Header")}}
        </button>
    </div>
        <div class="bg-white p-4 rounded-md shadow-md">
            <!-- Aquí iría el contenido de la tabla -->
            <div class="grid grid-cols-3 gap-8">
                <!-- Columna 1 -->
                <div>
                    <h2 class="text-lg font-semibold mb-4 text-gray-700 text-center">{{t("Pacientes-Reciente")}}</h2>
                    <div class="space-y-4">
                        <!-- Tarjeta 1 -->
                        <div class="bg-green-100 rounded-lg shadow-md p-6 flex flex-col items-left justify-center">
                            <p class="text-sm font-bold">Nombre:</p>
                            <p class="text-sm font-bold">Medicamento:</p>
                            <p class="text-sm font-bold">Teléfono:</p>
                            <p class="text-sm font-bold">Actividad:</p>
                            <p class="text-sm font-bold">Fecha:</p>
                            <p class="text-sm font-bold">Hora:</p>
                            <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded text-sm">
                                Ver
                            </button>
                        </div>
                        <!-- Tarjeta 2 -->
                        <div class="bg-green-100 rounded-lg shadow-md p-6 flex flex-col items-left justify-center">
                            <p class="text-sm font-bold">Nombre:</p>
                            <p class="text-sm font-bold">Medicamento:</p>
                            <p class="text-sm font-bold">Teléfono:</p>
                            <p class="text-sm font-bold">Actividad:</p>
                            <p class="text-sm font-bold">Fecha:</p>
                            <p class="text-sm font-bold">Hora:</p>
                            <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded text-sm">
                                Ver
                            </button>
                        </div>
                        <!-- Añadir más tarjetas según sea necesario -->
                    </div>
                </div>

                <!-- Columna 2 -->
                <div>
                    <h2 class="text-lg font-semibold mb-4 text-gray-700 text-center">{{t("Pacientes-UltimaSemana")}}
                    </h2>
                    <div class="space-y-4">
                        <!-- Tarjetas de la columna 2 -->
                        <div class="bg-green-100 rounded-lg shadow-md p-6 flex flex-col items-left justify-center">
                            <p class="text-sm font-bold">Nombre:</p>
                            <p class="text-sm font-bold">Medicamento:</p>
                            <p class="text-sm font-bold">Teléfono:</p>
                            <p class="text-sm font-bold">Actividad:</p>
                            <p class="text-sm font-bold">Fecha:</p>
                            <p class="text-sm font-bold">Hora:</p>
                            <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded text-sm">
                                Ver
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Columna 3 -->
                <div>
                    <h2 class="text-lg font-semibold mb-4 text-gray-700 text-center">{{t("Pacientes-MasUnaSemana")}}
                    </h2>
                    <div class="space-y-4">
                        <!-- Tarjetas de la columna 3 -->
                        <div class="bg-green-100 rounded-lg shadow-md p-6 flex flex-col items-left justify-center">
                            <p class="text-sm font-bold">Nombre:</p>
                            <p class="text-sm font-bold">Medicamento:</p>
                            <p class="text-sm font-bold">Teléfono:</p>
                            <p class="text-sm font-bold">Actividad:</p>
                            <p class="text-sm font-bold">Fecha:</p>
                            <p class="text-sm font-bold">Hora:</p>
                            <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded text-sm">
                                Ver
                            </button>
                        </div>
                        <div>

                            <div class="space-y-4">
                                <!-- Tarjetas de la columna 3 -->
                                <div class="bg-green-100 rounded-lg shadow-md p-6 flex flex-col items-left justify-center">
                                    <p class="text-sm font-bold">Nombre:</p>
                                    <p class="text-sm font-bold">Medicamento:</p>
                                    <p class="text-sm font-bold">Teléfono:</p>
                                    <p class="text-sm font-bold">Actividad:</p>
                                    <p class="text-sm font-bold">Fecha:</p>
                                    <p class="text-sm font-bold">Hora:</p>
                                    <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded text-sm">
                                        Ver
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

